<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Template.html}">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>SolSystem!</title>
</head>
<body>
<div th:include="dashboard_header :: dashboard_header"></div>

<div th:if="${success != null}">
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading">Success!</h4>
        <p class="mb-0" th:text="${success}"></p>
    </div>
</div>

<div th:if="${error != null}">
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading">Error!</h4>
        <p class="mb-0" th:text="${error}"></p>
    </div>
</div>
<div class="col-md-12">
    <h2 th:text="${section.getName()}"></h2>
    <a th:href="@{'/students/' + ${section.getClassroom().getId()}}" class="btn btn-warning">Go back</a>
</div>
<br />
<div class="col-md-12">
    <h2>Assignments</h2>
</div>
<br />
<div class="col-md-10">
    <table class="table table-responsive table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Order</th>
            <th>Gradable</th>
            <th>Max Points</th>
            <th>View</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="assignment : ${assignments}" th:if="${assignments != null}">
            <td th:text="${assignment.getName()}"></td>
            <td th:text="${assignment.getAssignmentOrder()}"></td>
            <td th:text="${assignment.getIsGraded().toString()}"></td>
            <td th:text="${assignment.getMaxPoints()}"></td>
            <td><a th:href="@{'/students/assignments/' + ${assignment.getId()}}" class="btn btn-info" >View</a></td>
        </tr>
        </tbody>
    </table>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>

</script>

</body>
</html>