<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Template.html}">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>SolSystem!</title>
</head>
<body>
<div th:include="dashboard_header :: dashboard_header"></div>

<div th:if="${success != null}">
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading">Success!</h4>
        <p class="mb-0" th:text="${success}"></p>
    </div>
</div>

<div th:if="${error != null}">
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading">Error!</h4>
        <p class="mb-0" th:text="${error}"></p>
    </div>
</div>
<div class="col-md-12">
    <h2 th:text="${assignment.getName()}"></h2>
    <p th:text="${assignment.getContent()}"></p>
    <ul>
        <li th:if="${assignment.getIsGraded()}">Graded Assignment</li>
        <li th:if="${assignment.getIsGraded() == false}">Non-graded Assignment</li>
        <li th:text="${assignment.getMaxPoints()}"></li>
    </ul>
    <a th:href="@{'/students/sections/' + ${assignment.getSection().getId()}}" class="btn btn-warning">Go back</a>
</div>
<br />
<div class="col-md-12">
    <h2>Questions</h2>
</div>

<br />


<div id="quizLoc">
    <form th:action="@{'/students/assignments/' + ${assignment.getId()}}" th:method="post" id ="questionsLoc"></form>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var questions = /*[[${jsquestions}]]*/[];
    var answers = /*[[${jsanswers}]]*/[];
    var taken = /*[[${quiz_taken}]]*/true;
/*]]>*/
</script>

<script src="/javascript/quiz.js"></script>

</body>
</html>