<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Template.html}">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>SolSystem!</title>
</head>
<body>
<div th:include="dashboard_header :: dashboard_header"></div>

<div th:if="${success != null}">
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading">Success!</h4>
        <p class="mb-0" th:text="${success}"></p>
    </div>
</div>

<div th:if="${error != null}">
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading">Error!</h4>
        <p class="mb-0" th:text="${error}"></p>
    </div>
</div>
<div class="col-md-12">
    <h2 th:text="${assignment.getName()}"></h2>
    <p th:text="${assignment.getContent()}"></p>
    <ul>
        <li th:if="${assignment.getIsGraded()}">Graded Assignment</li>
        <li th:if="${assignment.getIsGraded() == false}">Non-graded Assignment</li>
        <li th:text="${assignment.getMaxPoints()}"></li>
    </ul>
    <a th:href="@{'/sections/' + ${assignment.getSection().getId()} + '/assignments'}" class="btn btn-warning">Go back</a>
</div>
<br />
<div class="col-md-12">
    <h2>Questions</h2>
</div>
<br />
<div class="col-md-12">
    <buton data-target="#newQuestionForm" data-toggle="modal" class="btn btn-info">Create Question</buton>
</div>
<br />
<div class="col-md-10">
    <table class="table table-responsive table-bordered">
        <thead>
        <tr>
            <th>Order</th>
            <th>Text</th>
            <th>View</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="question : ${questions}" th:if="${questions != null}">
            <td th:text="${question.getQuestionOrder()}"></td>
            <td th:text="${question.getQuestionText()}"></td>
            <td><a th:href="@{'/questions/' + ${question.getId()} + '/answers'}" class="btn btn-info" >View</a></td>
            <td>
                <button class="btn btn-info" type="button" th:onclick="@{'populateUpdateForm(' + ${question.getId()} + ', \'' + ${question.getQuestionText()} + '\', ' + ${question.getQuestionOrder()} + ')'}">Update</button>
            </td>
            <td>
                <form th:action="@{'/assignments/' + ${assignment.getId()} + '/questions/' + ${question.getId()}}" th:method="delete">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div id="newQuestionForm" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Assignment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{'/assignments/' + ${assignment.getId()} + '/questions'}" method="post">
                    <label>Text</label>
                    <input type="text" name="txtCreateText" class="form-control">
                    <label>Order</label>
                    <input type="number" name="txtCreateOrder" class="form-control">
                    <br />
                    <button type="submit" class="btn btn-success">Create</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="updateQuestionForm" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Assignment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{'/assignments/' + ${assignment.getId()} + '/questions/update'}" th:method="post">
                    <label>Text</label>
                    <input type="text" name="txtUpdateText" id="txtUpdateText" class="form-control">
                    <label>Order</label>
                    <input type="number" id="txtUpdateOrder" name="txtUpdateOrder" class="form-control">
                    <input type="hidden" name="txtUpdateId" id="txtUpdateId" />
                    <br />
                    <button type="submit" class="btn btn-success">Update</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
    function populateUpdateForm(id, text, order) {
        $("#txtUpdateText").val(text);
        $("#txtUpdateOrder").val(order);
        $("#txtUpdateId").val(id);

        $('#updateQuestionForm').modal();
    }
</script>

</body>
</html>