<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Template.html}">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>SolSystem!</title>
</head>
<body>
<div th:include="dashboard_header :: dashboard_header"></div>

<div th:if="${success != null}">
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading">Success!</h4>
        <p class="mb-0" th:text="${success}"></p>
    </div>
</div>

<div th:if="${error != null}">
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading">Error!</h4>
        <p class="mb-0" th:text="${error}"></p>
    </div>
</div>
<div class="col-md-12">
    <h2 th:text="${classroom.getName()}"></h2>
</div>
<br />
<div class="col-md-12">
    <buton data-target="#students" data-toggle="modal" class="btn btn-info">Enroll Student</buton>
    <buton data-target="#instructors" data-toggle="modal" class="btn btn-info">Enroll Instructor</buton>
</div>
<br />
<div class="col-md-4">
    <h3>Instructors</h3>
    <table class="table table-responsive table-bordered">
        <thead>
        <tr>
            <th>E-mail</th>
            <th>Unenroll</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="enrollment : ${enrollments}" th:if="${enrollments != null}">
            <td th:text="${enrollment.getCustomer().getEmail()}" th:if="${enrollment.getRole().getRoleName() == 'Instructor'}"></td>
            <td th:if="${enrollment.getRole().getRoleName().equals('Instructor')}">
                <form th:action="@{'/enrollments/' + ${classroom.getId()} + '/enrollments/' + ${enrollment.getId()}}" th:method="delete">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="col-md-4">
    <h3>Students</h3>
    <table class="table table-responsive table-bordered">
        <thead>
        <tr>
            <th>E-mail</th>
            <th>Unenroll</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="enrollment : ${enrollments}" th:if="${enrollments != null}">
            <td th:text="${enrollment.getCustomer().getEmail()}" th:if="${enrollment.getRole().getRoleName() == 'Student'}"></td>
            <td th:if="${enrollment.getRole().getRoleName().equals('Student')}">
                <form th:action="@{'/enrollments/' + ${classroom.getId()} + '/enrollments/' + ${enrollment.getId()}}" th:method="delete">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="modal" id="instructors">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Instructors</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-responsive table-bordered">
                    <thead>
                        <th>E-mail</th>
                        <th>Add</th>
                    </thead>
                    <tr th:each="instructor : ${instructors}" th:if="${instructors != null}">
                        <td th:text="${instructor.getEmail()}"></td>
                        <td>
                            <form th:action="@{'/enrollments/' + ${classroom.getId()} + '/customers/' + ${instructor.getId()}}" th:method="post">
                                <button type="submit" class="btn btn-info">Enroll</button>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="students">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Students</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-responsive table-bordered">
                    <thead>
                    <th>E-mail</th>
                    <th>Add</th>
                    </thead>
                    <tr th:each="student : ${students}" th:if="${students != null}">
                        <td th:text="${student.getEmail()}"></td>
                        <td>
                            <form th:action="@{'/enrollments/' + ${classroom.getId()} + '/customers/' + ${student.getId()}}" th:method="post">
                                <button type="submit" class="btn btn-info">Enroll</button>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>