<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Template.html}">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>SolSystem!</title>
</head>
<body>
<div th:include="dashboard_header :: dashboard_header"></div>

<div th:if="${success != null}">
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading">Success!</h4>
        <p class="mb-0" th:text="${success}"></p>
    </div>
</div>

<div th:if="${error != null}">
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading">Error!</h4>
        <p class="mb-0" th:text="${error}"></p>
    </div>
</div>
<div class="col-md-12">
    <h2 th:text="${question.getQuestionText()}"></h2>
    <a th:href="@{'/assignments/' + ${question.getAssignment().getId()} + '/questions'}" class="btn btn-warning">Go back</a>
</div>
<br />
<div class="col-md-12">
    <h2>Answers</h2>
</div>
<br />
<div class="col-md-12">
    <buton data-target="#newAnswerForm" data-toggle="modal" class="btn btn-info">Create Answer</buton>
</div>
<br />
<div class="col-md-10">
    <table class="table table-responsive table-bordered">
        <thead>
        <tr>
            <th>Order</th>
            <th>Text</th>
            <th>Correct?</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="answer : ${answers}" th:if="${answers != null}">
            <td th:text="${answer.getAnswerOrder()}"></td>
            <td th:text="${answer.getAnswerText()}"></td>
            <td th:text="${answer.getCorrect().toString()}"></td>
            <td>
                <button class="btn btn-info" type="button" th:onclick="@{'populateUpdateForm(' + ${answer.getId()} + ', \'' + ${answer.getAnswerText()} + '\', ' + ${answer.getAnswerOrder()} + ', ' + ${answer.getCorrect()} + ')'}">Update</button>
            </td>
            <td>
                <form th:action="@{'/questions/' + ${question.getId()} + '/answers/' + ${answer.getId()}}" th:method="delete">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div id="newAnswerForm" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Answer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{'/questions/' + ${question.getId()} + '/answers'}" method="post">
                    <label>Text</label>
                    <input type="text" name="txtCreateText" class="form-control">
                    <label>Order</label>
                    <input type="number" name="txtCreateOrder" class="form-control">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="checked" name="chkCreateCorrect" checked="">
                            Answer is correct.
                        </label>
                    </div>
                    <br />
                    <button type="submit" class="btn btn-success">Create</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="updateAnswerForm" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Answer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{'/questions/' + ${question.getId()} + '/answers/update'}" th:method="post">
                    <label>Text</label>
                    <input type="text" name="txtUpdateText" id="txtUpdateText" class="form-control">
                    <label>Order</label>
                    <input type="number" id="txtUpdateOrder" name="txtUpdateOrder" class="form-control">
                    <input type="hidden" name="txtUpdateId" id="txtUpdateId" />
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="checked" id="chkUpdateCorrect" name="chkUpdateCorrect" checked="">
                            Answer is correct.
                        </label>
                    </div>
                    <br />
                    <button type="submit" class="btn btn-success">Update</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
    function populateUpdateForm(id, text, order, correct) {
        $("#txtUpdateText").val(text);
        $("#txtUpdateOrder").val(order);
        $("#txtUpdateId").val(id);

        if(correct) {
            $('#chkUpdateCorrect').attr('checked', true);
        } else {
            $('#chkUpdateCorrect').attr('checked', false);
        }

        $('#updateAnswerForm').modal();
    }
</script>

</body>
</html>