<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Template.html}">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>SolSystem!</title>
</head>
<body>
<div th:include="dashboard_header :: dashboard_header"></div>

<div th:if="${success != null}">
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading">Success!</h4>
        <p class="mb-0" th:text="${success}"></p>
    </div>
</div>

<div th:if="${error != null}">
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading">Error!</h4>
        <p class="mb-0" th:text="${error}"></p>
    </div>
</div>
<div class="col-md-12">
    <h2>Classrooms</h2>
</div>
<br />
<div class="col-md-12">
    <buton data-target="#newClassroomForm" data-toggle="modal" class="btn btn-info">Create</buton>
</div>
<br />
<div class="col-md-10">
    <table class="table table-responsive table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>View</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="classroom : ${classrooms}" th:if="${classrooms != null}">
            <td th:text="${classroom.getId()}"></td>
            <td th:text="${classroom.getName()}"></td>
            <td th:text="${classroom.getStartDate().toString().substring(0, 10)}"></td>
            <td th:text="${classroom.getEndDate().toString().substring(0, 10)}"></td>
            <td><a th:href="@{'/classrooms/' + ${classroom.getId()} + '/sections'}" class="btn btn-info" >View</a></td>
            <td>
                <button class="btn btn-info" type="button" th:onclick="@{'populateUpdateForm(' + ${classroom.getId()} + ', \'' + ${classroom.getName()} + '\', \'' + ${classroom.getDescription()} + '\', \'' + ${classroom.getStartDate()} + '\', \'' + ${classroom.getEndDate()} + '\')'}">Update</button>
            </td>
            <td>
                <form th:action="@{'/classrooms/' + ${classroom.getId()}}" th:method="delete">
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div id="newClassroomForm" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Classroom</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{/classrooms}" method="post">
                    <label>Name</label>
                    <input type="text" name="txtCreateName" class="form-control">
                    <label>Description</label>
                    <textarea class="form-control" name="txtCreateDescription"></textarea>
                    <label>Start Date</label>
                    <input type="date" name="txtCreateStartDate" class="form-control" />
                    <label>End Date</label>
                    <input type="date" name="txtCreateEndDate" class="form-control" />
                    <br />
                    <button type="submit" class="btn btn-success">Create</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="updateClassroomForm" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Classroom</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{/classrooms/update}" th:method="post">
                    <label>Name</label>
                    <input type="text" id="txtUpdateName"  name="txtUpdateName" class="form-control">
                    <label>Description</label>
                    <textarea class="form-control" id="txtUpdateDescription" name="txtUpdateDescription"></textarea>
                    <label>Start Date</label>
                    <input type="date" id="txtUpdateStartDate" name="txtUpdateStartDate" class="form-control" />
                    <label>End Date</label>
                    <input type="date" id="txtUpdateEndDate" name="txtUpdateEndDate" class="form-control" />
                    <input type="hidden" id="txtUpdateId" name="txtUpdateId" />
                    <br />
                    <button type="submit" class="btn btn-success">Update</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="viewClassroomForm" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">View Customer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <label>Name</label>
                    <input type="text" id="txtViewName" class="form-control" readonly>
                    <label>Description</label>
                    <textarea class="form-control" id="txtViewDescription" readonly></textarea>
                    <label>Start Date</label>
                    <input type="date" id="txtViewStartDate" class="form-control" readonly />
                    <label>End Date</label>
                    <input type="date" id="txtViewEndDate" class="form-control" readonly />
                    <input type="hidden" id="txtViewId" />
                    <br />
                    <!--<button type="submit" class="btn btn-success">Update</button>-->
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
    function populateUpdateForm(id, name, description, startDate, endDate) {

        $("#txtUpdateName").val(name);
        $("#txtUpdateDescription").val(description);
        $("#txtUpdateStartDate").val(startDate.substring(0, 10));
        $("#txtUpdateEndDate").val(endDate.substring(0, 10));
        $("#txtUpdateId").val(id);

        $('#updateClassroomForm').modal();
    }

    function showDetailsForm(id, name, description, startDate, endDate) {
        $("#txtViewName").val(name);
        $("#txtViewDescription").val(description);
        $("#txtViewStartDate").val(startDate.substring(0, 10));
        $("#txtViewEndDate").val(endDate.substring(0, 10));

        $('#viewClassroomForm').modal();
    }
</script>

</body>
</html>