<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Template.html}">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>SolSystem!</title>
</head>
<body>
<div th:include="dashboard_header :: dashboard_header"></div>

<div th:if="${success != null}">
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading">Success!</h4>
        <p class="mb-0" th:text="${success}"></p>
    </div>
</div>

<div th:if="${error != null}">
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading">Error!</h4>
        <p class="mb-0" th:text="${error}"></p>
    </div>
</div>

<br />
<div class="col-md-12">
    <buton data-target="#newCustomerForm" data-toggle="modal" class="btn btn-info">Create</buton>
</div>
<br />
<div class="col-md-10">
    <table class="table table-responsive table-bordered">
        <thead>
        <tr>
            <th>Email</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="customer : ${customers}" th:if="${customers != null}">
                <td th:text="${customer.getEmail()}"></td>
                <td>
                    <button class="btn btn-info" type="button" th:onclick="@{'populateUpdateForm(' + ${customer.getId()} + ', \'' + ${customer.getEmail()} + '\')'}">Update</button>
                </td>
                <td>
                    <form th:action="@{'/customers/' + ${customer.getId()}}" th:method="delete">
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div id="newCustomerForm" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Customer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{/customers}" method="post">
                    <label>E-mail</label>
                    <input type="text" name="email" class="form-control">
                    <label>Password</label>
                    <input type="password" name="password" class="form-control">
                    <label>Role</label>
                    <select name="roleId" class="form-control">
                        <option th:each="i : ${roles}" th:value="${i.getId()}" th:text="${i.getRoleName()}"></option>
                    </select>
                    <br />
                    <button type="submit" class="btn btn-success">Create</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="updateCustomerForm" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Customer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{/customers/update}" th:method="post">
                    <label>E-mail</label>
                    <input type="text" name="updateEmail" id="txtUpdateEmail" class="form-control">
                    <label>Password (Leave blank for existing)</label>
                    <input type="password" name="updatePassword" class="form-control">
                    <input type="hidden" name="updateId" id="txtUpdateId" />
                    <br />
                    <button type="submit" class="btn btn-success">Update</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
    function populateUpdateForm(id, email) {
        $("#txtUpdateEmail").val(email);
        $("#txtUpdateId").val(id);

        $('#updateCustomerForm').modal();
    }
</script>

</body>
</html>