<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Template.html}">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>SolSystem!</title>
</head>
<body style="background-image: url('images/blackboard.jpg'); background-position: center;">
<div th:include="Template :: title"></div>

<div th:if="${success != null}">
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading">Success!</h4>
        <p class="mb-0" th:text="${success}"></p>
    </div>
</div>

<div layout:fragment="content" style=" background-color: rgba(0,0,0, 0.6); min-height:400px; min-width: 100%;">

   <!--SectionController 1-->
    <div class="row" style=" min-height: 500px;">
        <div class="col-md-8 offset-md-2 text-center" style="color: white;">
            <h3 style="padding-top: 60px;">The SolSystem LMS Can Transform Your Business</h3>
            <button type="button" style="margin-top: 40px;S" class="btn btn-success">Learn More</button>
        </div>
    </div>

    <!-- SectionController 2 -->
    <div style="background-color: rgba(255,255,255, 1.0);" class="px-4 py-4">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Buy SolSystem Now</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card border-light text-center">
                    <h3 class="card-header">Option 1</h3>
                    <div class="card-body">
                        <h5 class="card-title">Beginner</h5>
                        <h6 class="card-subtitle">Great for getting started</h6>
                    </div>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">200 Students</li>
                        <li class="list-group-item">5 Teachers</li>
                        <li class="list-group-item">2 Administrators</li>
                        <li class="list-group-item">Web Portal access</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card border-ligth text-center">
                    <h3 class="card-header">Option 2</h3>
                    <div class="card-body">
                        <h5 class="card-title">Professional</h5>
                        <h6 class="card-subtitle">Great for small business that need specialized training</h6>
                    </div>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">300 Students</li>
                        <li class="list-group-item">10 Teachers</li>
                        <li class="list-group-item">4 Administrators</li>
                        <li class="list-group-item">Web Portal and REST API access</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card border-light text-center">
                    <h3 class="card-header">Option 3</h3>
                    <div class="card-body">
                        <h5 class="card-title">Enterprise</h5>
                        <h6 class="card-subtitle">Great for larg enterprise training or small online schools</h6>
                    </div>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">500 Students</li>
                        <li class="list-group-item">25 Teachers</li>
                        <li class="list-group-item">8 Administrators</li>
                        <li class="list-group-item">Web Portal and REST API access</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-4" style="color: white;">
        <div class="row text-center">
            <div class="col-md-4 offset-md-4">
                <h4>Sign up for a free account now</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <form>
                    <div class="form-group">
                        <label for="tenantName">Tenant Name</label>
                        <input class="form-control" type="text" name="tenantName" />
                    </div>
                    <div class="form-group">
                        <label for="tenantSlug">Tenant Slug</label>
                        <input class="form-control" type="text" name="tenantSlug" />
                    </div>
                    <div class="form-group">
                        <label for="customerEmail">E-mail</label>
                        <input class="form-control" type="text" name="customerEmail" />
                    </div>
                    <div class="form-group">
                        <label for="customerPassword">Password</label>
                        <input class="form-control" type="password" name="customerPassword" />
                    </div>
                    <div class="form-group">
                        <label for="customerPasswordConfirm">Password Confirm</label>
                        <input class="form-control" type="password" name="customerPasswordConfirm" />
                    </div>
                    <br />
                    <button type="button" class="btn btn-success">Sign up</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<th:block layout:fragment="scripts">
    <!--<script src="/js/hello.js"></script>-->
</th:block>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>