<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>SolSystem!</title>
</head>
<body>
<div th:include="Template :: title"></div>
<div class="mt-4">
    <div class="row text-center">
        <div class="col-md-4 offset-md-4">
            <h4>Sign up for a free account now</h4>
        </div>
    </div>

    <div th:if="${error != null}">
        <div class="alert alert-dismissible alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4 class="alert-heading">Warning!</h4>
            <p class="mb-0" th:text="${error}"></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form th:action"@{/signup}" method="post">
                <div class="form-group">
                    <label for="tenantName">Tenant Name</label>
                    <input class="form-control" type="text" name="tenantName" />
                </div>
                <div class="form-group">
                    <label for="tenantSlug">Tenant Slug</label>
                    <input class="form-control" type="text" name="tenantSlug" />
                </div>
                <div class="form-group">
                    <label for="customerEmail">E-mail</label>
                    <input class="form-control" type="text" name="customerEmail" />
                </div>
                <div class="form-group">
                    <label for="customerPassword">Password</label>
                    <input class="form-control" type="password" name="customerPassword" />
                </div>
                <div class="form-group">
                    <label for="customerPasswordConfirm">Password Confirm</label>
                    <input class="form-control" type="password" name="customerPasswordConfirm" />
                </div>
                <br />
                <button type="submit" class="btn btn-success">Sign up</button>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>